* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "src/css/mixin/mixin_cart";

////////////////--------------------mixin----------------------////////////////////

.cart-title{
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 50px;
}

.cart-title > span{
  @include font-style(2.5rem);

}

#cart-image{
  @include size(300px,150px);
  margin-bottom: 30px;
}

.cart-item{
  @include grid-container(3fr,1fr,1fr,1fr);
}

.product-title{
  @include flex-container("",center);
  margin-right: 12rem;
}

.price{
  @include font-style(20px);
}


.products-column{
  @include grid-container(3fr,1fr,1fr,1fr);
  @include font-bold;
}

.cart-product{
  @include flex-container("","");
}

.cart-count-button{
  @include flex-container(center,center);
  @include size(120px,60px);
  border: 0.5px solid rgb(177, 177, 177);
  @include border-radius(5px);
  position: relative;
  right: 1.3rem;
  margin-top: 60px;
}



.cart-count-button > button {
  background: none;
  @include none-style;
  @include padding-container01(1.7rem,2rem);
  @include font-style(20px);
}

.cart-count-button > div{
  @include font-bold;
}


.total{
  @include flex-container(center,center);
}

.cart-price{

  @include flex-container(center,start);
  @include position(relative,null,null,null,3%);

}

.delete-btn button{
  @include none-style;
  color: grey;
  @include border-radius(10px);
  @include padding-container01(0.5rem,1rem);
  margin-top: 5.8rem;
}

.delete-btn button:hover{

  @include button-hover(gray,black);
  @include border-radius(10px);

}

.clear-btn button{
  @include position(absolute,null,null,null,6%);
  @include padding-container01(1rem,2rem);
  border: none;
  @include border-radius(10px);
  cursor: pointer;

}

.clear-btn button:hover{
  @include button-hover(gray,black);
}


