@import "src/css/mixin/mixin_modal";

//////////////////////////////////////////////// mixin ////////////

.modal-container{
  @include position(fixed,0,0,0,0);

  background: rgba(0, 0, 0, 0.7);

  @include flex-container(center,center);
  @include size(100%,100%);

  .modal {
    @include modal;
  }


  #modal-title{
    @include modal-title;
  }

}


.btn-container{

  position: fixed;
  transform: translateX(45%);

  .confirm-btn{
    @include padding-container01(1rem,2rem);
    @include confirm-btn;
  }

  .clear-btn{
    @include clear-btn;
    @include padding-container01(1rem,2rem);
  }


}

