@mixin navbarContainer(){
  background-color: lightskyblue;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
}

.navbar-container{
  @include  navbarContainer;
}

.nav{
  margin-left: 70rem;
}


.navbar-container a{
  text-decoration: none;
}

.bac-count{
  margin-bottom: 200px;
  font-size: 30px;
  justify-content: end;
}

.nav-title{
  align-items: center;
  justify-content: start;
}