@mixin flex-container($align, $justify){
  display: flex;

  @if($align ==start ){
    align-items: start;
  }
  @if ($align ==center){
    align-items: center;
  }
  @if($justify ==center){
    justify-content: center;
  }
}

@mixin font-style($value : null){
    font-size: $value;
}


@mixin grid-container($col-start,$col-end,$row-start,$row-end){
  display: grid;
  grid-template-columns: $col-start  $col-end $row-start $row-end;
}

@mixin none-style(){
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin font-bold(){
  font-weight: bold;
}

@mixin size($width,$height){
  width: $width;
  height: $height;
}

@mixin button-hover($back,$color){
  background: $back;
  color: $color;
  transition: 0.5s;

}

@mixin border-radius($px){
  border-radius: $px;
}

@mixin padding-container01($width,$height){
  padding: $width $height;
}
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
